<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qczy.mapper.MenuMapper">

    <resultMap type="com.qczy.model.entity.MenuEntity" id="MenuResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="menuName"    column="menu_name"    />
        <result property="icon"    column="icon"    />
        <result property="webPath"    column="web_path"    />
        <result property="component"    column="component"    />
        <result property="type"    column="type"    />
        <result property="sort"    column="sort"    />
        <result property="i18nKey"    column="i18nKey"    />
        <result property="activeMenu"    column="active_menu"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="href"    column="href"    />
    </resultMap>

    <sql id="selectMenuVo">
        select id, parent_id, menu_name, i18nKey,icon, web_path,active_menu,local_icon,permissions, hide_in_menu,component, href,type, sort, create_time, update_time, is_deleted from qczy_menu
    </sql>

    <select id="selectMenuList" parameterType="com.qczy.model.entity.MenuEntity" resultMap="MenuResult">
        <include refid="selectMenuVo"/>
        <where>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="menuName != null  and menuName != ''"> and menu_name like concat('%', #{menuName}, '%')</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="webPath != null  and webPath != ''"> and web_path = #{webPath}</if>
            <if test="component != null  and component != ''"> and component = #{component}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="i18nKey != null "> and i18nKey = #{i18nKey}</if>
            <if test="activeMenu != null "> and active_menu = #{activeMenu}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>

    <select id="selectMenuById" parameterType="Integer" resultMap="MenuResult">
        <include refid="selectMenuVo"/>
        where id = #{id}
    </select>

    <insert id="insertMenu" parameterType="com.qczy.model.entity.MenuEntity" useGeneratedKeys="true" keyProperty="id">
        insert into qczy_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="menuName != null and menuName != ''">menu_name,</if>
            <if test="icon != null">icon,</if>
            <if test="webPath != null">web_path,</if>
            <if test="component != null">component,</if>
            <if test="type != null">type,</if>
            <if test="activeMenu != active_menu">type,</if>
            <if test="sort != null">sort,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="menuName != null and menuName != ''">#{menuName},</if>
            <if test="icon != null">#{icon},</if>
            <if test="webPath != null">#{webPath},</if>
            <if test="component != null">#{component},</if>
            <if test="type != null">#{type},</if>
            <if test="activeMenu != null">#{activeMenu},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
        </trim>
    </insert>

    <update id="updateMenu" parameterType="com.qczy.model.entity.MenuEntity">
        update qczy_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="menuName != null and menuName != ''">menu_name = #{menuName},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="webPath != null">web_path = #{webPath},</if>
            <if test="component != null">component = #{component},</if>
            <if test="type != null">type = #{type},</if>
            <if test="activeMenu != null">active_menu = #{activeMenu},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMenuById" parameterType="Integer">
        delete from qczy_menu where id = #{id}
    </delete>

    <delete id="deleteMenuByIds" parameterType="String">
        delete from qczy_menu where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <select id="getUserMenuList" resultType="com.qczy.model.entity.MenuEntity">
            SELECT DISTINCT me.*
            FROM qczy_role AS ro
                     LEFT JOIN qczy_role_menu AS rm ON ro.id = rm.role_id
                     LEFT JOIN qczy_menu me ON rm.menu_id = me.id
            WHERE ro.id = #{id}
              AND ro.is_deleted = 0
              AND me.is_deleted = 0
            order by  sort,me.type
    </select>





</mapper>
