<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qczy.mapper.SystemStatusMapper">


    <select id="statisticalBar" resultType="Map">
        SELECT
        type,
        DATE_FORMAT(create_time, '%Y-%m-%d %H:00:00') AS hour,
        AVG(gpu_usage) AS avg_gpu_usage,
        AVG(cpu_usage) AS avg_cpu_usage,
        AVG(mem_usage) AS avg_mem_usage,
        AVG(sys_fileinfo_usage) AS avg_sys_fileinfo_usage
        FROM
        qczy_system_status
        <where>
            <if test="type != null and type != ''"> AND type = #{type}</if>
            AND create_time >= NOW() - INTERVAL 1 DAY
        </where>
        GROUP BY
        type, hour
        ORDER BY
        hour, type;
    </select>


    <select id="statisticalPie"  resultType="Map">
        SELECT
            t1.type,
            AVG(t1.gpu_usage) AS avg_gpu_usage,
            AVG(t1.cpu_usage) AS avg_cpu_usage,
            AVG(t1.mem_usage) AS avg_mem_usage,
            AVG(t1.sys_fileinfo_usage) AS avg_sys_fileinfo_usage
        FROM
            qczy_system_status t1
                JOIN (
                SELECT
                    type,
                    MAX(create_time) AS max_create_time
                FROM
                    qczy_system_status
        <where>
            <if test="type != null and type != ''"> AND type = #{type}</if>
        </where>
                GROUP BY type
            ) t2 ON t1.type = t2.type AND t1.create_time = t2.max_create_time
        <where>
            <if test="type != null and type != ''"> AND t1.type = #{type}</if>
        </where>
        GROUP BY
            t1.type;

    </select>



</mapper>